body {
  font-family: "Roboto", sans-serif;
  background-color: #cbf7ed;
}

header {
  text-align: center;
  padding: 32px;
}

h1 {
  font-size: 52px;
  color: #028090;
}

header img {
  width: 300px;
}
